<html>
<body>
    <div class="login">
        <h1>Mercedes-Benz-Greener-Manufacturing</h1>
        <form action="{{ url_for('upload_file')}}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label">Upload CSV</label>
                <input class="form-control" type="file" name="file" accept=".csv" required />
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Predict" />
            </div>
        </form>
        <h2>THE prediction is {{results}}</h2>
    </div>
</body>
</html>
